*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*----course----*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{
    color:aliceblue;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: navy;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font: bold;
    color:#fff;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }

}

/*---- Facilities -----*/
.facilities{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 20px;

}
.facilities p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 8px;
    font-style: normal;
    font: bolder;
}
.card{
    flex-basis:auto;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 20%;      
    margin-right: 20%;
    width: auto;
    text-align: center;
    padding: 2px;
    align-self: center;
    box-sizing: border-box;
    transition: 0.5s;
}
.facilities-col img{
    width: 55%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
@media(min-width : 568px) {
    .card {
      display: block;
      width: auto;
      flex:none;
      align-content: center;
      align-self: center;
      margin-left: 10%;
      padding-left: 10%;
      margin-right: 10%;
      padding-right: 10%;
      
      
      
    }
}

/*----- Campus ------*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.campus p{
    color: black;
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    font-style: normal;
    font: bolder;
}
.campus-col{
    flex-basis: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
    
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h4{
    width: 120%;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    font: bolder;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    
}
.layer:hover h4{
    bottom: 50%;
    opacity: 1;
}
@media(max-width:768px){
    .text {
        width: 120%;
    }
}



/*----- Footer -----*/
.footer{
    margin: -6%;
    width: 130%;
    background-image: linear-gradient(rgba(4,9,30,0.7),
    rgba(4,9,30,0.7)),url(../images/dark.jpg);
    background-size: cover;
    text-align: center;
    min-height: 150%;
    background-repeat: no-repeat;
    background-position: center;
    height: 150%;
    
}
.footer img{
    width: 10%;
    border-radius: 10px;

}
.footer h5{
    margin-bottom: 20px; 
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.footer p{
    color: #fff;
    padding: 0;
}
.icons{
    color:darkred;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa fa-copyright{
    color:darkred;
}
